<footer class="footer footer-center bg-base-300 tent-base-content p-4">
  <nav class="grid grid-flow-col gap-4">
    <a class="link linkhover"></a>
    <%= link_to "お問い合わせ先", "#", class:"link link-hover" %>
    <%= link_to "利用規約", "#", class:"link link-hover" %>
    <%= link_to "プライバシーポリシー", "#", class:"link link-hover" %>
  </nav>
  <aside>
    <p>© 2024 - metime-meals</p>
  </aside>
</footer>
