<footer class="footer footer-center bg-base-100 tent-base-content p-4 mb-20">
  <nav class="grid grid-flow-col gap-4">
    <a class="link linkhover"></a>
    <%= link_to "お問い合わせ先", "https://docs.google.com/forms/d/1Ad-CivQQLp9Sw4JdCnWAlzRfSZ5Wp3yKqBRd3zqgwUI/edit?pli=1", class:"link link-hover" %>
    <%= link_to "利用規約", "#", class:"link link-hover" %>
    <%= link_to "プライバシーポリシー", "#", class:"link link-hover" %>
  </nav>
  <aside>
    <p>© 2024 - metime-meals</p>
  </aside>
</footer>
