<div class="bg-white p-6 rounded shadow-lg text-center">
    <div class="flex justify-center">
        <div class="animate-spin h-10 w-10 border-4 border-blue-500 rounded-full border-t-transparent"></div>
    </div>
    <div class="text-lg mt-2">送信中...</div>
</div>