<%= link_to bookmarks_path(post_id: post.id), id: "bookmark-button-for-post-#{post.id}", data: { turbo_method: :post } do %>
  <span class="material-icons" style="font-size: 2.5rem;">bookmark_border</span>
<% end %>