<%= link_to bookmark_path(current_user.bookmarks.find_by(post_id: post.id)), id: "unbookmark-button-for-post-#{post.id}", data: { turbo_method: :delete } do %>
  <span class="material-icons" style="font-size: 3.5rem;">bookmark</span>
<% end %>