<div class='container px-5 py24 mx-auto'>
    <div class="flex flex-wrap m-4">
        <% if @posts.present? %>
            <%= render @posts %>
        <% else %>
            <div class= 'text-lg m-auto'>投稿はありません</div>
        <% end %>
    </div>
</div>