<div class='container px-5 py24 mx-auto'>
    <div class='text-center mt-6'>
        <%= render 'search_post_form', search_form: @search_form %>
        <% if logged_in? %>
            <%= link_to '新規投稿', new_post_path, class: 'btn btn-accent btn-wide'%>
        <% end %>
    </div>
    <div class="flex flex-wrap m-4">
        <% if @posts.present? %>
            <%= render @posts %>
        <% else %>
            <div class= 'text-lg m-auto'>投稿はありません</div>
        <% end %>
    </div>
</div>